@import "tailwindcss";

/* Reset */
html, body {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
  color: #111827;
}

/* Better defaults */
* {
  box-sizing: border-box;
}